html,
body {
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: rgb(221, 221, 221);
}

p {
    margin: 0;
}

.header {
    background-color: #242424;
    color: beige;
}

.division {
    height: 35px;
    background-color: #c20c0c;
}

.body-head {
    background-color: rgb(97, 72, 97);
}

.body-body {
    height: 1480px;
    width: 984px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #c2c2c2;
    border-left: none;
    position: relative;
}

.footer {
    border-top: 1px solid #c2c2c2;
    height: 173px;
}

h1 {
    height: 70px;
    /* width: 150px; */
    margin: 0 10px 0 240px;
    display: inline-block;
    cursor: pointer;
}

h1 a {
    color: beige;
}

h1 span {
    /* display: inline-block; */
    margin: 0;
    font-size: 22px;
    line-height: 70px;
    text-align: center;
    float: right;
}


/* .logo span {
    display: inline-block;
    color: #c20c0c;
    height: 70px;
} */

ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

.header ul {
    position: absolute;
}

.header ul li {
    padding: 0 20px;
    cursor: pointer;
    height: 70px;
    position: relative;
    text-align: center;
    line-height: 70px;
    font-size: 15px;
}

.header ul li:last-child {
    height: 74px;
}

.hot {
    background-color: #c20c0c;
    border-radius: 5px;
    margin-left: -10px;
    font-size: 12px;
    z-index: 2;
}

.search {
    top: 0;
    right: 240px;
    height: 70px;
    margin-left: 40px;
    display: inline-block;
    position: absolute;
    width: 350px;
    line-height: 70px;
}

.search span {
    position: absolute;
    left: 10px;
    color: gray;
}

.search input {
    padding-left: 30px;
    height: 32px;
    width: 158px;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-top: 19px;
}

.header .creation {
    position: absolute;
    top: 19px;
    width: 90px;
    display: inline-block;
    height: 32px;
    border: 1px solid gray;
    text-align: center;
    line-height: 32px;
    border-radius: 20px;
    margin: 0 19px;
    color: rgb(199, 195, 195);
    font-size: 14px;
    cursor: pointer;
}

.header .search .creation:hover {
    color: beige;
    border-color: beige;
}

.header .search a {
    position: absolute;
    right: 0;
    color: gray;
    font-size: 14px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.header .search a:hover {
    color: rgb(199, 195, 195);
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent transparent #c20c0c transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
}

.nav {
    width: 1100px;
    margin: 0 auto;
}

.nav ul {
    margin-left: 124px;
}

.nav ul li {
    height: 21px;
    text-align: center;
    line-height: 17px;
    margin: 7px 27px;
    color: beige;
    font-size: 13px;
    padding: 0 10px;
    cursor: pointer;
}

.nav-close {
    background-color: #830505;
    border-radius: 20px;
}

.close {
    background-color: #000000;
}

.figure {
    width: 1100px;
    height: 285px;
    margin: 0 auto;
    color: beige;
    position: relative;
}

.figure .carousel {
    display: inline-block;
    width: 730px;
    margin-left: 58px;
}

.carousel img {
    width: 730px;
    height: 285px;
}

.carousel ul {
    left: 100px;
    position: absolute;
    bottom: 10px;
}

.carousel ul li {
    width: 3px;
    height: 3px;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(202, 202, 202);
}

.carousel .figure-close {
    background-color: #c20c0c;
    border-color: #c20c0c;
}

.down {
    display: inline-block;
    width: 254px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.down img {
    width: 254px;
    height: 100%;
}

.left,
.rigth {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    width: 30px;
    height: 40px;
    border: 1px solid beige;
    border-radius: 20px;
    position: absolute;
    top: 50%;
}

.left {
    left: 0;
}

.rigth {
    right: 0;
}

.body-body .body-left {
    position: absolute;
    display: inline-block;
    width: 730px;
    height: 100%;
    border: 1px solid #c9c9c9;
}

.body-body .body-right {
    position: absolute;
    display: inline-block;
    width: 254px;
    right: 0;
}

.body-body p {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 5px solid #c20c0c;
    border-radius: 50px;
    margin-left: 25px;
    margin-right: 10px;
}

.body-header a {
    /* text-decoration: none; */
    font-size: 15px;
    color: rgb(68, 68, 68);
    padding-right: 10px;
}

.body-header ul li {
    font-size: 15px;
    margin-left: 10px;
}

.body-header span {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.body-header span a {
    padding: 0;
}

.body-header p {
    cursor: pointer;
}

.body-header span p {
    font-size: 15px;
    color: #c20c0c;
}

.solid {
    width: 95%;
    height: 0;
    border: 2px solid #c20c0c;
    margin: 0 auto;
}

.login {
    height: 126px;
    /* width: 254px; */
    background-color: rgb(207, 207, 207);
    color: rgb(126, 125, 125);
}

.login p {
    font-size: 13px;
    margin: 20px;
}

.login div {
    font-size: 13px;
    width: 100px;
    color: beige;
    height: 31px;
    text-align: center;
    line-height: 31px;
    background-color: #c20c0c;
    margin: 0 auto;
    border-radius: 5px;
}

.login div:hover {
    background-color: #e40d0d;
}

.popular {
    margin: 20px;
    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    grid-template-rows: 234px 234px;
    grid-gap: 40px 40px;
}

.popular div {
    position: relative;
}

.popular div a {
    font-size: 15px;
}

.listen {
    position: absolute;
    background-color: rgb(128, 127, 127);
    opacity: 0.8;
    color: rgb(197, 197, 197);
    top: -25px;
}

.listen span:first-child {
    margin-left: 10px;
    margin-right: 2px;
}

.listen span:last-child {
    margin-left: 40px;
    cursor: pointer;
}

.listen p {
    font-size: 12px;
    margin: 5px 0;
}

.newsong {
    position: relative;
    width: 95%;
    margin: 20px auto;
    border: 1px solid #dddcdc;
    background-color: #f5f5f5;
}

.newsong ul {
    padding: 20px 25px;
}

.newsong li {
    width: 118px;
    margin: 10px 5px;
}

.newsong p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 118px;
    margin: 0;
}

.newsong p:first-child {
    color: #444;
}

.newsong p:last-child {
    color: rgb(117, 117, 117);
}

.newsong img {
    width: 118px;
    height: 100px;
    cursor: pointer;
}

.newsong-left,
.newsong-right {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    color: #5e5c5c;
    position: absolute;
    top: 40%;
}

.newsong-left {
    left: 10px;
}

.newsong-right {
    right: 10px;
}

table thead th {
    position: relative;
    background-color: #f5f5f5;
}

th,
td {
    border: 1px solid #acacac;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table thead a {
    font-size: 18px;
    color: rgb(63, 63, 63);
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: -80px;
}

table img {
    width: 80px;
    height: 80px;
    padding: 20px 0 20px 20px;
    cursor: pointer;
}

table th span {
    color: rgb(202, 202, 202);
    /* justify-content: center; */
    font-size: 22px !important;
    position: absolute;
    top: 60px;
    left: 110px;
    cursor: pointer;
}

table th span:hover {
    color: gray;
}

table th span:last-child {
    left: 145px;
}

tbody tr:nth-child(2n) {
    background-color: #f5f5f5;
}

tbody td {
    height: 30px;
}

tbody tr:nth-child(2n-1) {
    background-color: #cacaca;
}

tbody tr td span.iconfont {
    padding: 0px 5px 0 5px;
    cursor: pointer;
    color: rgb(161, 161, 161);
}

tbody tr td .iconfont:hover {
    color: rgb(119, 118, 118);
}


/* tbody tr td span.icon-bofang {
    padding-left: 41px;
} */

tbody .appear {
    float: right;
}

tbody span {
    font-size: 15px;
    color: rgb(63, 63, 63);
    padding-left: 30px;
    padding-right: 10px;
}

tbody tr:first-child span,
tbody tr:nth-child(2) span,
tbody tr:nth-child(3) span {
    color: #c20c0c;
}

tbody a {
    font-size: 15px;
    color: rgb(63, 63, 63);
}

tbody tr:last-child a {
    float: right;
}

.body-right .title h5 {
    font-size: 15px;
    display: inline-block;
    margin: 20px 82px 5px 20px;
}

.body-right .title a {
    font-size: 15px;
    color: #555555;
    margin-right: 20px;
}

.title div {
    margin: 0 auto;
    width: 85%;
    height: 0;
    border-bottom: 1px solid #b4b4b4;
}

.roles {
    margin: 20px auto 0 auto;
    width: 85%;
    height: 62px;
    background-color: #f3f2f2;
    border: 1px solid #c2c2c2;
    cursor: pointer;
}

.roles:hover {
    background-color: #d8d8d8;
}

.roles img {
    width: 62px;
    height: 62px;
}

.roles div {
    float: left;
}

.roles h5 {
    font-size: 16px;
    margin: 10px 15px;
}

.roles p {
    font-size: 12px;
    margin: 0 15px;
}

.application {
    cursor: pointer;
    font-size: 13px;
    width: 85%;
    height: 30px;
    margin: 20px auto;
    background-color: #f3f2f2;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
}

.application:hover {
    background-color: #f5f5f5;
}

.anchor {
    margin: 12px auto 0 auto;
    width: 85%;
    height: 40px;
}

.anchor a {
    display: block;
    margin: 3px 10px;
    font-size: 13px;
}

.anchor a span {
    color: #e40d0d;
}

.anchor p {
    margin: 0 10px;
    font-size: 9px;
}

.anchor div {
    float: left;
}

.anchor img {
    width: 40px;
}

.footer div {
    margin: 0 auto;
    width: 985px;
}

.footer .footer-left {
    float: left;
    width: 520px;
    height: 110px;
}

.footer ul {
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 20px;
}

.footer ul li {
    margin-left: 5px;
}

.footer ul li:first-child {
    margin-left: 0;
}

.footer ul li a {
    margin-right: 5px;
}

.footer p {
    font-size: 12px;
    line-height: 25px;
    color: #5c5c5c;
}

.footer p span:first-child {
    margin-right: 20px;
}

.footer .iconfont {
    font-size: 50px;
    color: #a1a1a1;
    margin: 10px;
}

.footer .footer-inco {
    display: inline-block;
    margin: 20px 0 20px 30px;
    width: 60px;
    top: 40px;
}

.footer-inco:first-child {
    margin-left: 130px;
}

.footer-inco img {
    width: 60px;
    cursor: pointer;
}

.footer-inco p {
    font-size: 5px;
    text-align: center;
}

.bg {
    /* height: 47px; */
    background-color: #242424;
}