body {
    background-color: #e1f2fb;
}

.box {
    width: 350px;
    height: 465px;
    margin: 0 auto;
    background-color: #e1f2fb;
    border-radius: 20px;
    box-shadow: -8px 0 7px -2px #fff, 0 -8px 7px -2px #fff, 0 8px 7px -2px rgb(195, 194, 194), 8px 0 7px -2px rgb(195, 194, 194);
}

.box1 {
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 20px;
    float: left;
    box-shadow: -8px 0 7px -2px #fff, 0 -8px 7px -2px #fff, 0 8px 7px -2px rgb(195, 194, 194), 8px 0 7px -2px rgb(195, 194, 194);
}

.box3 {
    box-shadow: -4px 0 3px -1px #fff inset, 0 -4px 3px -1px #fff inset, 0 4px 3px -1px rgb(195, 194, 194) inset, 4px 0 3px -1px rgb(195, 194, 194) inset;
}

img {
    position: absolute;
    width: 60px;
    top: 10px;
    left: 10px;
}